/.deps
/.snakemake
/RULES_USAGE_EXAMPLE.md
/hail-20260512-2049-0.2.137-733ac4ccd943.log
/helpfulCodes
/input
/inputs
/logs
/prompts
/resources
/results_hispanic
/results_hispanic_FINAL_RESULTS
/results_hispanic_with_AMR_EUR_TEST
/similar_paper

results*/